.next
node_modules/*

package-lock.json

static/unity/Temp/*
static/unity/obj/*
static/unity/Library/metadata/*
static/unity/Library/*Cache/*
static/unity/Library/shadercompiler*.log
ethereum/web3-config.json


